/**
 * Project: Biotope
 * Version: 0.0.1
 */

@charset "UTF-8";
/**
 * ConciseCSS v4.1.2
 * https://github.com/ConciseCSS/concise.css
 *
 * Copyright 2016 James Kolce, Keenan Payne and ConciseCSS Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template,
[hidden] {
  display: none;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:root {
  box-sizing: border-box;
  font-family: "CircularStd-Medium", "Arial", sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  color: #6e6e6e;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

code,
kbd,
pre,
samp {
  font-family: "Consolas", monospace;
  font-size: 0.83333rem;
  background-color: #f5f5f5;
}

code,
kbd {
  vertical-align: middle;
  display: inline-block;
  padding: 0 0.4em;
}

pre {
  padding: 0.75rem 1em;
}

pre > code  {
  white-space: pre;
}

kbd {
  background-color: transparent;
  outline: 1px solid #cd6212;
}

hr {
  background-color: #cd6212;
  height: 1px;
  overflow: visible;
  border: 0;
}

nav ol,
nav ul {
  padding-left: 0;
}

nav li {
  list-style: none;
}

dt {
  font-weight: bold;
}

blockquote {
  padding: 0 1em;
}

blockquote cite,
blockquote footer {
  color: #989898;
  font-size: 83.33333%;
  margin-top: 0.75rem;
}

blockquote cite:before,
blockquote footer:before {
  content: "— ";
}

abbr {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  text-transform: uppercase;
}

abbr[title] {
  border-bottom: 1px solid #cd6212;
  cursor: help;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ffff00;
  color: #000000;
}

progress {
  vertical-align: baseline;
}

small {
  font-size: 83.33333%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  font-size: 83.33333%;
}

sub {
  bottom: -0.25em;
  -webkit-font-feature-settings: "subs" 1;
          font-feature-settings: "subs" 1;
}

sup {
  top: -0.25em;
  -webkit-font-feature-settings: "sups" 1;
          font-feature-settings: "sups" 1;
}

::-moz-selection {
  background-color: #00414a;
  text-shadow: none;
}

::selection {
  background-color: #00414a;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #0092a6;
  text-decoration: none;
  transition-duration: 150ms;
}

a:hover, a:focus {
  color: #003840;
}

a:hover {
  outline-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

button, input[type="submit"],
input {
  overflow: visible;
}

button, input[type="submit"],
select {
  text-transform: none;
}

button, input[type="submit"],
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #cd6212;
  padding: 1.5rem 1em;
}

legend {
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0 0.5em;
}

textarea {
  overflow: auto;
  resize: vertical;
  height: auto;
  padding: 0.375rem 0.5em;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

input[type="range"] {
  border: none;
  padding: 0;
  width: 100%;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track{
  background-color: #cd6212;
  border: none;
  height: 0.3rem;
}

input[type="range"]::-ms-track{
  background-color: #cd6212;
  border: none;
  height: 0.3rem;
}

input[type="range"]::-webkit-slider-runnable-track{
  background-color: #cd6212;
  border: none;
  height: 0.3rem;
}

input[type="range"]::-moz-range-thumb{
  border: none;
  border-radius: 50%;
  background-color: #0092a6;
  height: 0.75rem;
  margin-top: -0.225rem;
  width: 0.75rem;
}

input[type="range"]::-ms-thumb{
  border: none;
  border-radius: 50%;
  background-color: #0092a6;
  height: 0.75rem;
  margin-top: -0.225rem;
  width: 0.75rem;
}

input[type="range"]::-webkit-slider-thumb{
  border: none;
  border-radius: 50%;
  background-color: #0092a6;
  height: 0.75rem;
  margin-top: -0.225rem;
  width: 0.75rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

button, input[type="submit"] {
  background-color: #0092a6;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.83333rem;
  line-height: 2.25rem;
  padding: 0 1.5em;
  transition: background-color 150ms;
  white-space: nowrap;
}

button:hover, input[type="submit"]:hover, button:focus, input[type="submit"]:focus {
  background-color: #00a8c0;
  text-decoration: none;
  outline: none;
}

button:active, input[type="submit"]:active {
  background-color: #00bfd9;
}

button[disabled], input[disabled][type="submit"] {
  background-color: #eee;
  cursor: not-allowed;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

a,
area,
button,
input[type="submit"],
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

* {
  margin: 0;
}

* + * {
  margin-top: 1.5rem;
}

li,
kbd,
div,
input,
option,
select,
a,
textarea,
body,
span,
dd,
code,
label,
[column] {
  margin-top: 0;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.44rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.83333rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "CircularStd-Bold", "Arial", sans-serif;
  line-height: 1.3;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: inherit;
  vertical-align: 0;
  font-size: 83.33333%;
}

h1, h2, h3 {
  margin: 0.75rem 0 0.375rem;
}

h1 a, h2 a, h3 a {
  color: inherit;
}

h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus {
  color: #0092a6;
  text-decoration: none;
}

h4, h5, h6 {
  margin: 0.375rem 0;
}

ul,
ol {
  padding-left: 1em;
}

ul ol,
ul ul,
ol ol,
ol ul {
  padding-left: 1.5em;
}

ol {
  padding-left: 0;
  counter-reset: item;
}

ol li {
  list-style: none;
}

ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  margin-right: 0.2em;
}

input:not([type="submit"]),
select,
textarea {
  transition-duration: 150ms;
  width: 100%;
  font-size: 0.83333rem;
  min-height: 2.25rem;
}

input:not([type="submit"]):focus,
select:focus,
textarea:focus {
  border-color: #4eb1f9;
}

input:not([type="submit"])[disabled],
select[disabled],
textarea[disabled] {
  background-color: #eee;
  cursor: not-allowed;
  border: 0;
}

input:not([type="submit"]):not([type="range"]),
select,
textarea {
  border: 1px solid #cd6212;
  padding: 0 0.75em;
}

input[type="checkbox"],
input[type="file"],
input[type="image"],
input[type="radio"] {
  height: auto;
  width: auto;
}

input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  padding: 0;
  vertical-align: middle;
}

input[type="file"] {
  border: none;
  line-height: 1.5rem;
  padding: 0;
}

select {
  background-color: transparent;
  padding-left: 0.5em;
  width: auto;
  min-width: 10em;
  height: 2.25rem;
}

select[disabled] {
  color: #989898;
}

select[multiple] {
  height: auto;
  width: 100%;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

select option {
  padding: 0 0.75em;
}

label {
  display: block;
  font-size: 0.83333rem;
  line-height: 2.25rem;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5em;
}

table {
  width: 100%;
}

@media (min-width: 768px) {
  table {
    width: auto;
  }
}

table thead,
table tfoot {
  background-color: #f5f5f5;
  text-align: left;
}

table th,
table td {
  line-height: 2.25rem;
  overflow: visible;
  padding: 0 1em;
}

table caption {
  font-size: 0.83333rem;
  font-style: italic;
  line-height: 3rem;
  text-align: center;
}

[container] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: auto;
}

[grid] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  [grid] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

[column] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

[grid~="no-gutters"] {
  margin-left: 0;
  margin-right: 0;
}

[grid~="no-gutters"] [column] {
  padding-left: 0;
  padding-right: 0;
}

[grid~="no-collapse"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

[grid~="wrap"] {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[grid~="no-wrap"] {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

[grid~="wrap-reverse"] {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

[grid~="row"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

[grid~="row-reverse"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

[grid~="column"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[grid~="column-reverse"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

[grid~="justify-start"] {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

[grid~="justify-end"] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

[grid~="justify-center"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[grid~="justify-between"] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[grid~="justify-around"] {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

[grid~="top"] {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

[grid~="center"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[grid~="bottom"] {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

[grid~="baseline"] {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

[grid~="stretch"] {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

[column~="top"] {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

[column~="center"] {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

[column~="bottom"] {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 768px) {
  [column~="1"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33333%;
            flex: 0 1 8.33333%;
    max-width: 8.33333%;
  }
  [column~="2"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66667%;
            flex: 0 1 16.66667%;
    max-width: 16.66667%;
  }
  [column~="3"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    max-width: 25%;
  }
  [column~="4"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    max-width: 33.33333%;
  }
  [column~="5"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66667%;
            flex: 0 1 41.66667%;
    max-width: 41.66667%;
  }
  [column~="6"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
  }
  [column~="7"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33333%;
            flex: 0 1 58.33333%;
    max-width: 58.33333%;
  }
  [column~="8"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66667%;
            flex: 0 1 66.66667%;
    max-width: 66.66667%;
  }
  [column~="9"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    max-width: 75%;
  }
  [column~="10"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33333%;
            flex: 0 1 83.33333%;
    max-width: 83.33333%;
  }
  [column~="11"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66667%;
            flex: 0 1 91.66667%;
    max-width: 91.66667%;
  }
  [column~="12"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }
  [column~="+1"] {
    margin-left: 8.33333%;
  }
  [column~="+2"] {
    margin-left: 16.66667%;
  }
  [column~="+3"] {
    margin-left: 25%;
  }
  [column~="+4"] {
    margin-left: 33.33333%;
  }
  [column~="+5"] {
    margin-left: 41.66667%;
  }
  [column~="+6"] {
    margin-left: 50%;
  }
  [column~="+7"] {
    margin-left: 58.33333%;
  }
  [column~="+8"] {
    margin-left: 66.66667%;
  }
  [column~="+9"] {
    margin-left: 75%;
  }
  [column~="+10"] {
    margin-left: 83.33333%;
  }
  [column~="+11"] {
    margin-left: 91.66667%;
  }
  [column~="+12"] {
    margin-left: 100%;
  }
}

@media print {
  @page {
    margin: 2cm;
  }
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: black !important;
    -webkit-filter: none !important;
            filter: none !important;
    text-shadow: none !important;
  }
  :root {
    background-color: white;
    color: black;
    font: 12pt/1.4 "Georgia", "Times New Roman", "Times", serif;
  }
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    font-family: "Georgia", "Times New Roman", "Times", serif;
  }
  h1 {
    font-size: 19pt;
  }
  h2 {
    font-size: 17pt;
  }
  h3 {
    font-size: 15pt;
  }
  h4, h5, h6 {
    font-size: 14pt;
  }
  img {
    max-width: 100% !important;
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  video,
  audio,
  object,
  embed,
  nav,
  footer,
  a[href^="#"]:after {
    display: none;
    visibility: hidden;
  }
  p,
  h2, h3 {
    orphans: 3;
    widows: 3;
  }
  a,
  a:visited {
    color: black;
    font-size: .57em;
    text-decoration: underline;
    word-wrap: break-word;
  }
  a[href]:after,
  a:visited[href]:after {
    content: " (" attr(href) ")";
    font-size: smaller;
  }
  q:after {
    content: " (Source: " attr(cite) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre,
  code {
    background-color: transparent;
    border: 1px solid #cd6212;
    page-break-inside: avoid;
  }
  blockquote {
    border: none;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  ol {
    padding-left: 1.25em;
  }
  ul {
    padding-left: 0;
    list-style: none;
  }
  ul ul,
  ul ul ul {
    padding-left: 1.5em;
  }
  ul li,
  ol li {
    content: "&raquo; ";
  }
}

/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */
.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px;
  }
}

/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input[type="submit"],
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button, input[type="submit"] {
  overflow: visible;
}

button, input[type="submit"],
select {
  text-transform: none;
}

button, input[type="submit"],
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled][type="submit"],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input[type="submit"],
input,
select,
optgroup,
textarea {
  color: #404040;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
}

button:hover, input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:focus, input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

select {
  border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}

a:visited {
  color: purple;
}

a:hover,
a:focus,
a:active {
  color: midnightblue;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11111%;
}

.gallery-caption {
  display: block;
}

.alignnone {
  margin: 40px 0;
}

@font-face {
  font-family: "CircularStd-Medium";
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "CircularStd-Book";
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "CircularStd-Bold";
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "CircularStd-Black";
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

body {
  font-size: 17px;
}

a, a:visited {
  color: #0092a6;
  transition: all 0.3s ease-in-out;
}

a:hover, a:visited:hover {
  transition: all 0.3s ease-in-out;
  color: #00414a;
}

h1, h2, h3 {
  margin-top: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "CircularStd-bold";
  font-weight: 400;
  color: #00414a;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
}

h1:after {
  width: 33px;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-color: #00414a;
}

@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-size: 35px;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

h2:after {
  width: 73px;
  height: 7px;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-color: #0092a6;
}

@media (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
  color: #0092a6;
  font-family: "CircularStd-medium";
}

h5 {
  font-size: 22px;
}

p {
  line-height: 1.8;
  color: #6e6e6e;
  font-weight: 300;
  font-family: "CircularStd-Book";
}

ul {
  font-family: "CircularStd-Book";
}

ul li {
  list-style: none;
  position: relative;
  margin-bottom: 20px;
  color: #6e6e6e;
  padding-left: 20px;
}

ul li:before {
  content: "•";
  position: relative;
  left: -10px;
  top: 0px;
  color: #0092a6;
}

ul {
  margin: 0;
  padding: 0;
}

blockquote {
  margin-left: 100px;
  padding: 60px;
  font-size: 20px;
  font-family: "CircularStd-Book";
  position: relative;
}

blockquote:before {
  content: "”";
  font-size: 150px;
  color: #cd6212;
  position: absolute;
  top: 0;
  left: -20px;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote strong {
  color: #cd6212;
  font-size: 15px;
}

.more {
  font-family: "CircularStd-Medium";
  text-transform: uppercase;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}

.more:after {
  background-image: url("../images/icone-next_blue.svg");
  background-size: cover;
  width: 30px;
  height: 20px;
  display: inline-block;
  content: "";
  position: relative;
  left: 0px;
  transition: all 0.3s ease-in-out;
}

.more:hover:after {
  left: 5px;
  transition: all 0.3s ease-in-out;
}

.socials ul.socials--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials ul.socials--list li.socials--list_item {
  width: 45px;
  height: 45px;
  padding: 0 !important;
  margin-right: 10px;
}

.socials ul.socials--list li.socials--list_item a {
  background-color: #f2efee;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 0 !important;
  transition: all 0.3s ease-in-out;
}

.socials ul.socials--list li.socials--list_item a svg {
  width: 100%;
  height: auto;
  fill: #0092a6;
  transition: all 0.3s ease-in-out;
}

.socials ul.socials--list li.socials--list_item:hover a {
  background-color: #0092a6;
  transition: all 0.3s ease-in-out;
}

.socials ul.socials--list li.socials--list_item:hover a svg {
  fill: #f2efee;
  transition: all 0.3s ease-in-out;
}

.header-splash {
  min-height: 500px;
  background-size: cover;
  background-position: 50%;
  padding-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 960px) {
  .header-splash {
    padding-top: 23%;
  }
}

.header-splash [container] {
  height: 100%;
  width: 100%;
}

.header-splash [grid] {
  height: 85%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-splash [grid] h1 {
  color: #f2efee;
}

.header-splash [grid] h1:after {
  background-color: #f2efee;
}

.breadcrumb {
  padding: 40px 0;
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
}

.breadcrumb ul li {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.breadcrumb ul li:before {
  display: none;
}

.breadcrumb ul li a {
  color: #cd6212;
  font-size: 13px;
}

.breadcrumb ul li a:after {
  content: "";
  background-image: url("../images/icone-next.svg");
  background-size: cover;
  width: 30px;
  height: 20px;
  display: inline-block;
}

.breadcrumb ul li .current_page {
  font-size: 13px;
}

.breadcrumb ul li:first-child {
  padding-left: 0;
}

/* Acordeon styles */
.tabs .tab {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  /* :checked */
  /* Icon */
}

.tabs .tab .tab-content {
  max-height: 0;
  overflow: hidden;
  background: #f8f7f6;
  transition: max-height .35s;
}

.tabs .tab .tab-content p {
  padding: 30px 50px;
}

.tabs .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs .tab label {
  position: relative;
  display: block;
  padding: 10px 30px;
  margin: 0;
  background-color: #f2efee;
  line-height: 3;
  cursor: pointer;
  color: #00414a;
  font-size: 22px;
  font-family: "CircularStd-bold";
}

.tabs .tab label:after {
  position: absolute;
  right: 30px;
  top: 30px;
  display: block;
  line-height: 0;
  text-align: center;
  transition: all .35s;
  font-size: 45px;
  font-family: "CircularStd-book";
  font-weight: 100;
}

.tabs .tab input:checked ~ .tab-content {
  max-height: 100%;
  transition: all 0.3s ease-in-out;
}

.tabs .tab input[type=checkbox] + label::after {
  content: "";
  background-image: url("../images/icone-plus_blue.svg");
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: 100%;
}

.tabs .tab input[type=radio] + label::after {
  content: "\25BC";
}

.tabs .tab input[type=checkbox]:checked + label::after {
  content: "";
  background-image: url("../images/icone-moins_blue.svg");
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: 100%;
}

.tabs .tab input[type=radio]:checked + label::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

input[type=color], input:not([type=submit]):not([type=range]), input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {
  border-radius: 0;
  border: 2px solid #e4ebf0;
}

.gform_wrapper .top_label .gfield_label {
  font-size: 15px;
  color: #777;
  font-weight: 400;
}

.gform_wrapper .top_label .gfield_label .gfield_required {
  color: #777;
}

ul.gform_fields li {
  padding: 0;
  margin: 0;
}

.gform_footer .gform_button {
  background-color: #0092a6;
  color: #FFF;
  padding: 30px 20px;
  display: block;
  position: relative;
  border-radius: 0;
  box-shadow: none;
  background-position: center right 20px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url("../images/icone-arrow-white.svg");
  max-width: 300px;
  width: 100% !important;
  text-align: left;
  transition: all 0.3s ease-in-out;
  border: none;
}

.gform_footer .gform_button:hover {
  color: #FFF;
  padding-left: 40px;
  transition: all 0.3s ease-in-out;
  background-position: center right 40px;
}

.btn--contact, .btn--contact:visited {
  background-color: #0092a6;
  color: #FFF;
  padding: 30px 20px;
  display: block;
  position: relative;
}

.btn--contact:after, .btn--contact:visited:after {
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 10px;
  width: 30px;
  height: 20px;
  content: "";
  background-size: auto;
  background-position: center center;
  background-image: url("../images/icone-arrow-white.svg");
}

.btn--contact:hover, .btn--contact:visited:hover {
  color: #FFF;
  padding-left: 40px;
}

.btn--contact:hover:after, .btn--contact:visited:hover:after {
  transition: all 0.3s ease-in-out;
  right: 20px;
}

.bloc_ressources {
  padding: 60px;
  border: 1px solid #00414a;
  margin-bottom: 40px;
}

.bloc_ressources .document {
  color: #0092a6;
  max-width: 80%;
}

.bloc_ressources .module__body a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  margin-bottom: 20px;
}

.bloc_ressources .module__body a:hover {
  border-bottom: 2px solid #0092a6;
  transition: all 0.3s ease-in-out;
}

.bloc_ressources .module__body a .icone-dl {
  width: 45px;
  height: 45px;
}

.bloc_ressources .module__body a .seize {
  font-size: 12px;
}

.bloc_tuiles {
  margin-bottom: 60px;
}

.bloc_tuiles .module__body {
  padding: 0;
  -webkit-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

@media (min-width: 960px) {
  .bloc_tuiles .module__body {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }
}

.bloc_tuiles .module__body .tuille--item {
  height: 365px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.bloc_tuiles .module__body .tuille--item:after {
  background-color: #000;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 0;
}

.bloc_tuiles .module__body .tuille--item_bg {
  background-position: center center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.bloc_tuiles .module__body .tuille--item:hover .tuille--item_bg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.bloc_tuiles .module__body .tuille--item_titre {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
}

.bloc_tuiles .module__body .tuille--item_titre h3 {
  color: #FFF;
  font-size: 27px;
}

.bloc_tuiles .module__body .tuille--item_titre .icone-more {
  position: absolute;
  bottom: 30px;
  background-image: url(../images/icone-plus.svg);
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 30px;
}

.bloc_tuiles .module__body .tuille--popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 999999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloc_tuiles .module__body .tuille--popup_inner {
  background-color: #0092a6;
  max-width: 600px;
  width: 100%;
  color: #FFF;
  padding: 50px;
  position: relative;
}

.bloc_tuiles .module__body .tuille--popup_inner .icone-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("../images/icone-plus.svg");
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bloc_tuiles .module__body .tuille--popup_inner h3 {
  color: #FFF;
}

.bloc_tuiles .module__body .tuille--popup_inner p {
  color: #FFF;
}

.bloc_tuiles .module__body .tuille--popup.opentuile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc_accordeons {
  margin-bottom: 60px;
}

.bloc_texte {
  margin-bottom: 60px;
}

/* Animation Overlay */
@-webkit-keyframes slideDownIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slideDownIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.slideDownIn {
  -webkit-animation: slideDownIn 1s;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: slideDownIn 1s;
  /* IE 10+, Fx 29+ */
}

[grid] {
  margin: 0;
}

.error-404 {
  margin-bottom: 60px;
}

.remodal-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999999;
}

body.search .search-item {
  border-bottom: 1px solid #CCC;
  padding: 30px;
}

body.search .search-item:hover .title {
  color: #0092a6;
  transition: all 0.3s ease-in-out;
}

#subfooter.subfooter--galery {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 1;
}

#subfooter.subfooter--galery .subfooter--galery_item {
  width: 100%;
  height: 130px;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 768px) {
  #subfooter.subfooter--galery .subfooter--galery_item {
    height: 295px;
  }
}

footer#footer {
  padding-top: 80px;
  margin-top: 0;
  position: relative;
  z-index: 1;
  background-color: #FFF;
}

footer#footer .footer--info ul {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

footer#footer .footer--info ul li {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

footer#footer .footer--info ul li:before {
  display: none;
}

footer#footer .footer--info ul li a {
  color: #6e6e6e;
  font-size: 14px;
  padding-bottom: 20px;
  display: block;
  max-height: 50px;
  font-family: "CircularStd-Medium", "Arial", sans-serif;
}

footer#footer .footer--info ul li ul li a {
  font-size: 14px;
  color: #989898;
  padding-bottom: 10px;
  font-weight: 400;
  font-family: "CircularStd-Book", "Arial", sans-serif;
}

footer#footer .footer--info_logo {
  width: 120px;
  margin: auto;
}

@media (min-width: 768px) {
  footer#footer .footer--info_logo {
    margin: inherit;
  }
}

footer#footer .footer--info_menumain {
  width: calc(100% - 200px);
  display: none;
}

@media (min-width: 768px) {
  footer#footer .footer--info_menumain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer#footer .footer--info .menu--zone-item {
  width: 100%;
  padding-right: 10px;
}

@media (min-width: 768px) {
  footer#footer .footer--info .menu--zone-item {
    width: 50%;
  }
}

@media (min-width: 960px) {
  footer#footer .footer--info .menu--zone-item {
    width: 25%;
  }
}

footer#footer .footer--info .menu--zone-item .menu-zone-7-container ul li a, footer#footer .footer--info .menu--zone-item .menu-zone-7-container ul li a {
  padding-bottom: 10px;
}

footer#footer .footer--end {
  border-top: 1px solid #e4ebf0;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  font-size: 12px;
  color: #989898;
  text-align: center;
}

@media (min-width: 768px) {
  footer#footer .footer--end {
    text-align: inherit;
  }
}

footer#footer .footer--end ul {
  margin: 0;
  padding: 0;
}

footer#footer .footer--end ul li {
  list-style: none;
  display: inline-block;
}

footer#footer .footer--end ul li a {
  font-size: 12px;
  color: #989898;
  font-family: "CircularStd-Book", "Arial", sans-serif;
  padding: 10px;
}

#header {
  margin: 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  height: 95px;
  padding: 10px;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 768px) {
  #header {
    padding: 80px;
  }
}

#header .menu-openpanel, #header .search-openpanel {
  width: 50px;
  cursor: pointer;
}

#header .menu-openpanel span, #header .search-openpanel span {
  padding-left: 45px;
  position: relative;
  top: -5px;
  transition: all 0.3s ease-in-out;
  display: none;
}

@media (min-width: 768px) {
  #header .menu-openpanel span, #header .search-openpanel span {
    display: block;
  }
}

#header .bar {
  height: 3px;
  background: #00414a;
  border-radius: 20px;
  width: 25px;
  position: relative;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  transition: all 0ms 300ms;
}

#header .bar:after {
  height: 3px;
  background: #00414a;
}

#header .bar:before {
  height: 3px;
  background: #00414a;
  width: 30px;
}

#header .bar:after {
  width: 20px;
}

#header .bar.animate {
  width: 30px;
  background: rgba(255, 255, 255, 0);
}

#header .bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
}

#header .bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
}

#header .bar.animate:after {
  background: white;
  width: 30px;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header .bar.animate:before {
  background: white;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#header .logo {
  width: 90px;
  height: auto;
}

#header .logo a {
  display: block;
}

#header .logo a svg path, #header .logo a svg circle {
  fill: auto !important;
}

#header .icone-search {
  width: 30px;
  height: 30px;
}

#header .icone-search_close {
  display: none;
  position: relative;
  top: -20px;
}

#header .icone-search_close:hover .bar:before, #header .icone-search_close:hover .bar:after {
  background-color: #0092a6;
}

#header .wpml-ls {
  margin-left: 20px;
  display: none;
}

#header .wpml-ls ul {
  margin: 0;
  padding: 0;
}

#header .wpml-ls ul li {
  list-style: none;
  display: inline-block;
}

#header .wpml-ls ul li:before {
  display: none;
}

#header.pageIsScrolled {
  background-color: #f2efee;
  padding: 0 40px;
}

#header.pageIsScrolled .icone-search svg path {
  fill: #FFF;
}

#header.pageIsUnScrolled .logo {
  width: 90px;
}

@media (min-width: 768px) {
  #header.pageIsUnScrolled .logo {
    width: 140px;
  }
}

#header.pageIsUnScrolled .logo svg path, #header.pageIsUnScrolled .logo svg circle {
  fill: #FFF !important;
}

#header.pageIsUnScrolled .wpml-ls ul li a {
  color: #FFF;
}

#header.pageIsUnScrolled .search-openpanel svg path {
  fill: #FFF !important;
}

#header.pageIsUnScrolled .menu-openpanel .bar {
  background: #f2efee;
}

#header.pageIsUnScrolled .menu-openpanel .bar:after, #header.pageIsUnScrolled .menu-openpanel .bar:before {
  background: #f2efee;
}

#header.pageIsUnScrolled .menu-openpanel span {
  color: #f2efee;
}

#header.is-openpanel-menu, #header.is-openpanel-search {
  background-color: transparent !important;
}

#header.is-openpanel-menu .bar, #header.is-openpanel-search .bar {
  background: transparent !important;
}

#header.is-openpanel-menu .bar:after, #header.is-openpanel-menu .bar:before, #header.is-openpanel-search .bar:after, #header.is-openpanel-search .bar:before {
  background: #f2efee;
}

#header.is-openpanel-menu .logo, #header.is-openpanel-search .logo {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

#header.is-openpanel-menu .menu-openpanel span, #header.is-openpanel-menu .search-openpanel span, #header.is-openpanel-search .menu-openpanel span, #header.is-openpanel-search .search-openpanel span {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#header.is-openpanel-menu .search-openpanel {
  visibility: hidden;
}

#header.is-openpanel-search .menu-openpanel {
  visibility: hidden;
}

#header.is-openpanel-search .icone-search {
  visibility: hidden;
}

#header.is-openpanel-search .icone-search_close {
  display: block;
}

.menu--overlay, .search--overlay {
  visibility: hidden;
  position: fixed;
  height: 100vh;
  width: 102vw;
  top: 0px;
  overflow: auto;
  z-index: 2;
  background: rgba(0, 0, 0, 0.95);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu--overlay.openpanel, .search--overlay.openpanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  visibility: visible;
  padding-top: 10%;
}

.menu--overlay a, .search--overlay a {
  text-decoration: none;
}

.menu--overlay ul, .search--overlay ul {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.menu--overlay ul li, .search--overlay ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu--overlay ul li:before, .search--overlay ul li:before {
  display: none;
}

.menu--overlay ul li a, .search--overlay ul li a {
  color: #0092a6;
  font-size: 18px;
  padding-bottom: 40px;
  display: block;
  max-height: 66px;
  position: relative;
}

.menu--overlay ul li ul li a, .search--overlay ul li ul li a {
  font-size: 14px;
  color: #FFF;
  padding-bottom: 10px;
  display: inline-block;
}

.menu--overlay ul li ul li a:after, .search--overlay ul li ul li a:after {
  content: '';
  position: absolute;
  width: calc(100%);
  height: 2px;
  background-color: #0092a6;
  bottom: 3px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  transition: -webkit-transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu--overlay ul li ul li a:hover, .search--overlay ul li ul li a:hover {
  color: #FFF;
}

.menu--overlay ul li ul li a:hover:after, .search--overlay ul li ul li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.menu--overlay .menu--zone-item, .search--overlay .menu--zone-item {
  width: 100%;
  padding: 0 60px;
}

@media (min-width: 768px) {
  .menu--overlay .menu--zone-item, .search--overlay .menu--zone-item {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .menu--overlay .menu--zone-item, .search--overlay .menu--zone-item {
    width: 25%;
  }
}

.menu--overlay .menu--zone-item .menu-zone-7-container ul li a, .menu--overlay .menu--zone-item .menu-zone-7-container ul li a, .search--overlay .menu--zone-item .menu-zone-7-container ul li a, .search--overlay .menu--zone-item .menu-zone-7-container ul li a {
  padding-bottom: 10px;
}

.menu--overlay .menu--zone-item .socials ul li, .search--overlay .menu--zone-item .socials ul li {
  display: inline-block;
}

.menu--overlay #searchform, .search--overlay #searchform {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu--overlay #searchform ::-webkit-input-placeholder, .search--overlay #searchform ::-webkit-input-placeholder {
  opacity: 1 !important;
  /* for older chrome versions. may no longer apply. */
}

.menu--overlay #searchform :-moz-placeholder, .search--overlay #searchform :-moz-placeholder {
  /* Firefox 18- */
  opacity: 1 !important;
}

.menu--overlay #searchform ::-moz-placeholder, .search--overlay #searchform ::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1 !important;
}

.menu--overlay #searchform :-ms-input-placeholder, .search--overlay #searchform :-ms-input-placeholder {
  opacity: 1 !important;
}

.menu--overlay #searchform input, .search--overlay #searchform input {
  border: none;
  border-radius: 0;
  padding: 5px 20px;
  color: #00414a;
  font-size: 30px;
}

.menu--overlay #searchform input:focus, .menu--overlay #searchform input:hover, .search--overlay #searchform input:focus, .search--overlay #searchform input:hover {
  box-shadow: none;
  outline: none;
}

.menu--overlay #searchform #searchsubmit, .search--overlay #searchform #searchsubmit {
  background-color: transparent;
  border: none;
}

.menu--overlay #searchform #searchsubmit img, .search--overlay #searchform #searchsubmit img {
  width: 43px;
  height: 43px;
}

.menu--overlay #searchform #searchsubmit ::-webkit-input-placeholder, .search--overlay #searchform #searchsubmit ::-webkit-input-placeholder {
  color: red;
  opacity: 1 !important;
  /* for older chrome versions. may no longer apply. */
}

.menu--overlay #searchform #searchsubmit :-moz-placeholder, .search--overlay #searchform #searchsubmit :-moz-placeholder {
  /* Firefox 18- */
  color: red;
  opacity: 1 !important;
}

.menu--overlay #searchform #searchsubmit ::-moz-placeholder, .search--overlay #searchform #searchsubmit ::-moz-placeholder {
  /* Firefox 19+ */
  color: red;
  opacity: 1 !important;
}

.menu--overlay #searchform #searchsubmit :-ms-input-placeholder, .search--overlay #searchform #searchsubmit :-ms-input-placeholder {
  color: red;
  opacity: 1 !important;
}

body.is-menu {
  overflow: hidden;
}

.page--content .filtres {
  margin-bottom: 40px;
}

.page--content .filtres ul {
  padding: 0;
  margin: 0;
}

.page--content .filtres ul li {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  padding-right: 30px;
}

.page--content .filtres ul li:before {
  display: none;
}

.page--content .filtres ul li a {
  text-transform: uppercase;
  color: #ccc;
}

.page--content .filtres ul li a:hover {
  color: #00414a;
}

.page--content .filtres ul li a.active {
  color: #00414a;
}

@media (min-width: 768px) {
  .page--content {
    width: calc(100% - 320px);
    padding-right: 20px;
  }
}

.page--content .date {
  font-size: 20px;
  color: #cd6212;
}

@media (min-width: 768px) {
  .page--sidebar {
    width: 320px;
    padding-left: 60px;
  }
}

.page--sidebar .page--sidebar_nav {
  padding: 30px 20px;
  background-color: #f2efee;
  background-image: url("../images/bg.svg");
  background-size: 250%;
  background-repeat: repeat;
  margin-bottom: 40px;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list {
  margin: 0;
  padding: 0;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li {
  padding: 0;
  margin-bottom: 10px;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li:before {
  display: none;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li a {
  color: #00414a;
  margin-bottom: 10px;
  display: block;
  padding-left: 10px;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li a:hover {
  color: #cd6212;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li.current-menu-item a, .page--sidebar .page--sidebar_nav ul.menu-options-list li.current_page_item a {
  color: #cd6212;
  padding-left: 40px;
  background-image: url("../images/icone-arrow.svg");
  background-size: 20px;
  background-position: 10px;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li.page_item_has_children a.close {
  position: relative;
  padding-right: 20px;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li.page_item_has_children a.close:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  background-image: url("../images/icone-plus_blue.svg");
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: 100%;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li.page_item_has_children a.open {
  position: relative;
  padding-right: 20px;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li.page_item_has_children a.open:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  background-image: url("../images/icone-moins_blue.svg");
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: 100%;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li ul li {
  padding-left: 30px;
  margin-bottom: 0;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li ul li a {
  margin-bottom: 5px;
  display: block;
  padding-left: 0;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li ul li a:after {
  display: none;
}

.page--sidebar .page--sidebar_nav ul.menu-options-list li ul li.current-menu-item, .page--sidebar .page--sidebar_nav ul.menu-options-list li ul li.current_page_item {
  margin-left: -30px;
}

.type-actualites [container] {
  background-color: #FFF;
  margin-top: -110px;
}

.type-actualites [container] [grid] {
  margin: 0;
  padding: 40px;
}

.type-actualites [container] [grid] .breadcrumb {
  padding-top: 0;
}

.type-actualites [container] [grid] .post--content {
  padding-right: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .type-actualites [container] [grid] .post--content {
    width: calc(100% - 320px);
  }
}

.type-actualites [container] [grid] .post--content .date {
  font-size: 20px;
  color: #cd6212;
}

.type-actualites [container] [grid] .post--content .thumbnail {
  margin: 30px 0;
}

.type-actualites [container] [grid] .post--content .thumbnail img {
  width: 100%;
  height: auto;
}

.type-actualites [container] [grid] .post--sidebar {
  width: 100%;
  padding-top: 80px;
}

@media (min-width: 768px) {
  .type-actualites [container] [grid] .post--sidebar {
    width: 320px;
    padding-left: 100px;
  }
}

.type-actualites [container] [grid] .post--sidebar .post--sidebar_nav {
  padding: 0;
  margin-bottom: 20px;
}

.type-actualites [container] [grid] .post--sidebar .post--sidebar_nav a {
  width: 45px;
  height: 45px;
  display: inline-block;
  border: 2px solid #f2efee;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.type-actualites [container] [grid] .post--sidebar .post--sidebar_nav a svg {
  fill: #cd6212;
}

.type-actualites [container] [grid] .post--sidebar .post--sidebar_nav a:hover {
  border: 2px solid #cd6212;
  background-color: #cd6212;
}

.type-actualites [container] [grid] .post--sidebar .post--sidebar_nav a:hover svg {
  fill: #f2efee;
}

.type-actualites [container] [grid] .post--sidebar .post--sidebar_share h4 {
  font-size: 16px;
  color: #6e6e6e;
  opacity: .4;
}

#modal-auteur {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  pointer-events: none;
}

@media (min-width: 768px) {
  #modal-auteur {
    height: 74vh;
  }
}

#modal-auteur.is-modal-auteur {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  pointer-events: initial;
}

#modal-auteur .auteur-info-inner {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  max-width: 770px;
  position: relative;
  height: 100vh;
}

@media (min-width: 768px) {
  #modal-auteur .auteur-info-inner {
    padding: 60px;
    height: auto;
  }
}

#modal-auteur .auteur-info-inner .auteur-info-close {
  position: absolute;
  right: 35px;
  top: 35px;
  background-image: url("../images/icone-plus.svg");
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

#modal-auteur .auteur-info-inner h3 {
  color: white;
  background-image: url("../images/icone-shoot.svg");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 50px;
  background-size: 30px;
  font-size: 25px;
}

#modal-auteur .auteur-info-inner p {
  color: white;
}

#modal-auteur .auteur-info-inner blockquote {
  color: white;
  font-size: 16px;
  font-style: italic;
  margin: 0;
  padding: 40px 65px;
}

#modal-auteur .auteur-info-inner blockquote:before {
  color: white;
}

@media (min-width: 768px) {
  #modal-auteur .auteur-info-inner blockquote {
    padding: 40px 100px;
  }
}

#modal-auteur .auteur-info-inner .portrait {
  color: white;
  text-align: center;
  margin-right: 60px;
}

#modal-auteur .auteur-info-inner .portrait .photo {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}

#modal-auteur .auteur-info-inner .portrait .nom {
  font-size: 16px;
  color: #0092a6;
}

#modal-auteur .auteur-info-inner .portrait .metier {
  font-size: 13px;
}

#modal-auteur .auteur-info-inner .citation {
  color: white;
  padding-right: 60px;
}

.home-header-splash {
  height: 74vh;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 1;
  margin-top: 0;
}

.home-header-splash #open-modal-auteur {
  margin-right: 30px;
  cursor: pointer;
}

.home-header-splash #open-modal-auteur .icone-shoot {
  background-image: url("../images/icone-shoot.svg");
  width: 29px;
  height: 31px;
  background-size: cover;
  background-position: center center;
  display: block;
  transition: all 0.3s ease-in-out;
}

.home-header-splash #open-modal-auteur .icone-shoot.is-modal-auteur {
  transition: all 0.3s ease-in-out;
}

.home-header-splash .scrollhome {
  position: absolute;
  bottom: 20px;
  width: 60px;
  height: 60px;
  left: calc(50% - 30px);
  text-align: center;
}

.home-header-splash .scrollhome img {
  width: auto;
  height: 100%;
}

.home-push {
  position: relative;
  z-index: 1;
}

.home-push-item {
  height: 26vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
  min-height: 280px;
}

.home-push-item_bg {
  background-size: cover;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.home-push-item:hover .home-push-item_bg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.home-push-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
}

.home-push-item a:before {
  background-image: linear-gradient(0deg, black 0%, transparent 100%);
  opacity: 0.502;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  left: 0;
}

.home-push-item a:after {
  width: 100%;
  position: absolute;
  height: 7px;
  background-color: #0092a6;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.home-push-item a .icon {
  width: 68px;
  height: 68px;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.home-push-item a h3 {
  color: white;
  position: relative;
  font-size: 25px;
}

@media (min-width: 768px) {
  .home-push-item a h3 {
    font-size: 30px;
  }
}

.home-push-item a:hover:after {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.home-texte {
  padding: 80px 0;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.home-texte h2 {
  line-height: 1;
  font-size: 50px;
}

@media (min-width: 768px) {
  .home-texte h2 {
    font-size: 68px;
  }
}

.home-actualites {
  background-color: #f2efee;
  background-image: url("../images/bg.svg");
  background-repeat: repeat;
  background-size: 485px;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}

.home-actualites h2 {
  font-size: 50px;
}

.home-actualites h2:after {
  display: none;
}

.home-actualites-loop .item {
  background-color: white;
  width: 100%;
  border-top: 5px solid #0092a6;
  margin-bottom: 10px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .home-actualites-loop .item {
    max-width: 253px;
    margin-right: 10px;
  }
  .home-actualites-loop .item:last-child {
    margin-right: 0;
  }
}

.home-actualites-loop .item img {
  width: 100%;
  height: auto;
}

.home-actualites-loop .item .post-thumbnail {
  background-color: #0092a6;
  width: 100%;
  background-size: cover;
  background-position: center center;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 480px) {
  .home-actualites-loop .item .post-thumbnail {
    height: 173px;
  }
}

@media (min-width: 480px) {
  .home-actualites-loop .item .post-thumbnail {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .home-actualites-loop .item .post-thumbnail {
    height: 173px;
  }
}

.home-actualites-loop .item-post {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-actualites-loop .item-post h3 {
  font-size: 21px;
}

.home-actualites-loop .item-post .date {
  display: block;
  font-size: 15px;
  color: #cd6212;
  font-family: "CircularStd-Book";
}

.home-actualites-loop .item:hover {
  transition: all 0.3s ease-in-out;
}

.home-actualites-loop .item:hover .post-inner h3 {
  color: #0092a6;
  transition: all 0.3s ease-in-out;
}

.home-actualites-loop .item:hover .post-thumbnail {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.home-stats-bg {
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.home-stats {
  height: 650px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 960px) {
  .home-stats-content {
    padding: 0px 100px;
  }
}

.home-stats-content [grid] {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-stats-content_item {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .home-stats-content_item {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .home-stats-content_item {
    width: 30%;
    margin-top: 80px;
    text-align: left;
  }
}

.home-stats-content_item .nombre {
  font-size: 68px;
  color: white;
  font-weight: bold;
  line-height: 1.029;
}

.home-stats-content_item .texte {
  font-size: 20px;
  color: white;
  line-height: 1.25;
}

.home-stats-legende {
  color: white;
}

.home-stats-legende [container] {
  text-align: center;
}

@media (min-width: 960px) {
  .home-stats-legende [container] {
    padding: 50px 100px;
    text-align: left;
  }
}

.home-stats-legende [container] p {
  color: #FFF;
}

.home-map {
  padding-top: 130px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #FFF;
  /* fixes potential theme css conflict */
}

.home-map .acf-map {
  width: 100%;
  height: 400px;
}

@media (min-width: 768px) {
  .home-map .acf-map {
    height: 100%;
  }
}

.home-map .acf-map img {
  max-width: inherit !important;
}

.home-map .gm-style-iw {
  padding: 0px;
  margin-left: -14px;
  margin-top: -8px;
}

.home-map .gm-style-iw span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-map .gm-style-iw span i {
  font-size: 25px;
  margin-right: 10px;
}

.home-map h2 {
  font-size: 50px;
  line-height: 1;
}

.home-map h2:after {
  display: none;
}

.home-map #map {
  width: 100%;
  height: 600px;
}

.home-map .map_popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-map .map_popup .map_thumb {
  margin-right: 10px;
}

.home-map .map_popup .map_thumb img {
  height: 100%;
}

.home-map .map_popup .map_info {
  max-height: 150px;
  overflow-x: scroll;
  margin-top: 20px;
}

.home-map .map_popup .map_info .map_info_title {
  color: #cd6212;
  margin-bottom: 0;
  font-size: 22px;
}

.home-map .map_popup .map_info .map_info_subtitle {
  color: #00414a;
  font-size: 13px;
  font-weight: 600;
}

.home-zoom {
  text-align: center;
  padding: 80px 0;
  position: relative;
  z-index: 1;
  background-color: #FFF;
  margin-bottom: 0;
}

.home-zoom h2 {
  font-size: 66px;
}

.home-zoom h2:after {
  display: none;
}

.home-zoom-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .home-zoom-slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home-zoom-slide .visuel {
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 300px;
}

@media (min-width: 768px) {
  .home-zoom-slide .visuel {
    height: auto;
    margin-right: 20px;
  }
}

.home-zoom-slide .data {
  width: 100%;
}

@media (min-width: 768px) {
  .home-zoom-slide .data {
    margin-left: 20px;
  }
}

.home-zoom-slide .data span {
  display: block;
}

.home-zoom-slide .data span.nbr {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(179, 179, 179, 0.302);
  font-family: "CircularStd-bold";
}

.home-zoom-slide .data span.surtitre {
  font-size: 15px;
  color: #cd6212;
  font-family: "CircularStd-Book";
}

.home-zoom-slide .data h3 {
  font-size: 50px;
}

.home-zoom-slide .data p {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
  line-height: 1.625;
}

.home-zoom .owl-nav .owl-prev, .home-zoom .owl-nav .owl-next {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 2px solid #f2efee;
  background-image: url("../images/icone-arrow-gray.svg");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .home-zoom .owl-nav .owl-prev, .home-zoom .owl-nav .owl-next {
    position: absolute;
  }
}

.home-zoom .owl-nav .owl-prev:hover, .home-zoom .owl-nav .owl-next:hover {
  background-color: transparent;
  background-image: url("../images/icone-arrow.svg");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-zoom .owl-nav .owl-prev {
  left: -150px;
  top: 45%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home-zoom .owl-nav .owl-next {
  right: -150px;
  top: 45%;
}

.remodal-zoom {
  text-align: left;
}

.remodal-zoom .remodal-close {
  right: 35px;
  top: 35px;
  left: auto;
  background-image: url("../images/icone-plus_black.svg");
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  z-index: 1;
}

.remodal-zoom .remodal-close:before {
  display: none;
}

.remodal-zoom .remodal-close:hover {
  background-color: transparent;
}

.remodal-zoom h2 {
  margin-bottom: 72px;
}

.section-dl {
  padding-bottom: 40px;
  margin: 0;
  font-family: "CircularStd-Book";
}

.section-dl .type-telechargements, .section-dl .type-document_presse {
  background-color: #f6f4f4;
  padding: 40px;
}

@media (min-width: 768px) {
  .section-dl .type-telechargements .dl-content, .section-dl .type-document_presse .dl-content {
    padding-right: 50px;
  }
}

.section-dl .type-telechargements .dl-content span, .section-dl .type-document_presse .dl-content span {
  display: block;
}

@media (min-width: 768px) {
  .section-dl .type-telechargements .dl-content span, .section-dl .type-document_presse .dl-content span {
    display: inline;
  }
}

.section-dl .type-telechargements .dl-content .suttitre, .section-dl .type-document_presse .dl-content .suttitre {
  color: #cd6212;
  font-size: 15px;
  margin-bottom: 20px;
}

.section-dl .type-telechargements .dl-content .suttitre .date, .section-dl .type-document_presse .dl-content .suttitre .date {
  font-size: 15px;
}

@media (min-width: 768px) {
  .section-dl .type-telechargements .dl-content .suttitre .date, .section-dl .type-document_presse .dl-content .suttitre .date {
    padding-left: 20px;
  }
}

.section-dl .type-telechargements .dl-content .title:hover, .section-dl .type-document_presse .dl-content .title:hover {
  color: #0092a6;
}

.section-dl .type-telechargements .dl-file, .section-dl .type-document_presse .dl-file {
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-dl .type-telechargements .dl-file .dl-file-icone, .section-dl .type-document_presse .dl-file .dl-file-icone {
  text-align: center;
}

.section-dl .type-telechargements .dl-file .dl-file-icone span, .section-dl .type-document_presse .dl-file .dl-file-icone span {
  display: block;
  font-size: 15px;
  color: #0092a6;
}

body.page-template-template-formulaire .page--sidebar .page--sidebar_nav {
  padding-top: 40px;
}

body.page-template-template-formulaire .page--sidebar .page--sidebar_nav ul {
  margin: 0;
  padding: 0;
}

body.page-template-template-formulaire .page--sidebar .page--sidebar_nav ul li {
  color: #00414a;
  font-size: 15px;
  background-position: top left;
  background-size: 25px;
  padding-left: 40px;
}

body.page-template-template-formulaire .page--sidebar .page--sidebar_nav ul li:before {
  display: none;
}

body.page-template-template-formulaire .page--sidebar .page--sidebar_nav ul li:nth-child(1) {
  background-image: url("../images/icone-pin.svg");
}

body.page-template-template-formulaire .page--sidebar .page--sidebar_nav ul li:nth-child(2) {
  background-image: url("../images/icone-mail.svg");
}

body.page-template-template-formulaire .page--sidebar .page--sidebar_nav ul li:nth-child(3) {
  background-image: url("../images/icone-phone.svg");
}

.metiers-chapo {
  margin-top: -110px;
}

.metiers-chapo [container] {
  background-color: #004750;
  background-image: url("../images/bg.svg");
  background-size: 50%;
  background-repeat: repeat;
  padding: 60px;
  padding-bottom: 150px;
}

.metiers-chapo [container] h1 {
  color: #FFF;
}

.metiers-chapo [container] h1:after {
  background-color: #FFF;
}

.metiers-chapo [container] p {
  color: #FFF;
  font-size: 16px;
}

.metiers-list {
  margin-top: -120px;
  margin-bottom: 80px;
}

.metiers-list .item {
  background-color: #f2efee;
  width: auto;
  margin: 0 20px 40px 20px;
}

@media (min-width: 768px) {
  .metiers-list .item {
    max-width: 488px;
  }
}

.metiers-list .item .visuel img {
  width: 100%;
  height: auto;
}

.metiers-list .item .content {
  padding: 40px;
}

.metiers-list--picto .list-item {
  background-color: #f2efee;
  padding: 10px;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .metiers-list--picto .list-item {
    padding: 40px;
    margin: 0 40px;
    width: 100%;
  }
}

.metiers-list--picto .list-item .list-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.metiers-list--picto .list-item .list-item-inner .item {
  width: 100%;
  margin: 0;
  padding: 20px;
}

@media (min-width: 768px) {
  .metiers-list--picto .list-item .list-item-inner .item {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .metiers-list--picto .list-item .list-item-inner .item {
    width: 33%;
  }
}

.metiers-list--picto .list-item .list-item-inner .item .picto {
  margin-bottom: 20px;
}

.metiers-list--picto .list-item hr {
  background-color: #dddbda;
}

body.post-type-archive-actualites .section-actu .page--content .type-actualites {
  background-color: #f2efee;
  width: 100%;
  border-top: 5px solid #0092a6;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 480px) {
  body.post-type-archive-actualites .section-actu .page--content .type-actualites {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 480px) {
  body.post-type-archive-actualites .section-actu .page--content .type-actualites {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  body.post-type-archive-actualites .section-actu .page--content .type-actualites {
    max-width: 245px;
    width: 48%;
  }
}

@media (min-width: 960px) {
  body.post-type-archive-actualites .section-actu .page--content .type-actualites {
    max-width: 263px;
    width: 30%;
  }
}

body.post-type-archive-actualites .section-actu .page--content .type-actualites img {
  width: 100%;
  height: auto;
}

body.post-type-archive-actualites .section-actu .page--content .type-actualites .post-thumbnail {
  background-color: #0092a6;
  width: 100%;
  background-size: cover;
  background-position: center center;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 480px) {
  body.post-type-archive-actualites .section-actu .page--content .type-actualites .post-thumbnail {
    height: 173px;
  }
}

@media (min-width: 480px) {
  body.post-type-archive-actualites .section-actu .page--content .type-actualites .post-thumbnail {
    height: 350px;
  }
}

@media (min-width: 768px) {
  body.post-type-archive-actualites .section-actu .page--content .type-actualites .post-thumbnail {
    height: 173px;
  }
}

body.post-type-archive-actualites .section-actu .page--content .type-actualites .post-inner {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.post-type-archive-actualites .section-actu .page--content .type-actualites .post-inner h3 {
  font-size: 21px;
  transition: all 0.3s ease-in-out;
}

body.post-type-archive-actualites .section-actu .page--content .type-actualites .post-inner .date {
  display: block;
  font-size: 15px;
  color: #cd6212;
  font-family: "CircularStd-Book";
}

body.post-type-archive-actualites .section-actu .page--content .type-actualites:hover {
  transition: all 0.3s ease-in-out;
}

body.post-type-archive-actualites .section-actu .page--content .type-actualites:hover .post-inner h3 {
  color: #0092a6;
  transition: all 0.3s ease-in-out;
}

body.post-type-archive-actualites .section-actu .page--content .type-actualites:hover .post-thumbnail {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.post--sidebar_share .share-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post--sidebar_share .share-page .addthis_share_button {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.pagination .page-numbers {
  background-color: #f2efee;
  border: 5px solid #f2efee;
  padding: 10px;
  min-width: 50px;
  text-align: center;
}

.pagination .current {
  background-color: #0092a6;
  color: #FFF;
  width: 60px;
}

.pagination .next, .pagination .prev {
  background-color: transparent;
  border-color: transparent;
}

.pagination .next {
  background-image: url("../images/icone-pag_next.svg");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 50px;
}

.pagination .prev {
  background-image: url("../images/icone-pag_prev.svg");
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.more-actualites {
  background-color: #f2efee;
  background-image: url("../images/bg.svg");
  background-repeat: repeat;
  background-size: 485px;
  padding: 80px 0;
}

.more-actualites h2 {
  font-size: 50px;
}

.more-actualites h2:after {
  display: none;
}

.more-actualites-loop .item {
  background-color: white;
  width: 100%;
  max-width: 263px;
  border-top: 3px solid #0092a6;
}

.more-actualites-loop .item img {
  width: 100%;
  height: auto;
}

.more-actualites-loop .item .post-thumbnail {
  background-color: #0092a6;
  width: 100%;
  background-size: cover;
  background-position: center center;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 480px) {
  .more-actualites-loop .item .post-thumbnail {
    height: 173px;
  }
}

@media (min-width: 480px) {
  .more-actualites-loop .item .post-thumbnail {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .more-actualites-loop .item .post-thumbnail {
    height: 173px;
  }
}

.more-actualites-loop .item-post {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more-actualites-loop .item-post h3 {
  font-size: 21px;
}

.more-actualites-loop .item-post .date {
  display: block;
  font-size: 15px;
  color: #cd6212;
  font-family: "CircularStd-Book";
}

.more-actualites-loop .item:hover {
  transition: all 0.3s ease-in-out;
}

.more-actualites-loop .item:hover .post-inner h3 {
  color: #0092a6;
  transition: all 0.3s ease-in-out;
}

.more-actualites-loop .item:hover .post-thumbnail {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
