/*body{
    background-size: 100%;
    background-repeat:  no-repeat;
    font-family: arial;
    margin: 0;
}
/*
  Header
*//*
header{
    margin: 8px auto;
    z-index: 9999;
        width: 900px;
}
#page{
  width: 1440px;
  margin: 0 auto;
}*/
.greenbox h1{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    position: relative;
    top: -70px;
    left: -100px;
    color: white;
}
.greenbox h1 span{
    display: block;
    font-size: 0.7em;
}
.greenbox{
    width: 40%;
    position: absolute;
    top: 310px;
    border-bottom: 20px green solid;
    border-top: 20px green solid;
    border-left: 20px green solid;
    min-height: 50px;
    padding: 90px 50px 20px 50px;
    right: 0;
    font-size: 0.7em;

}
.greenbox #filters{
    width: 100%;
}
h2{
    font-size: 1em;
}

#content{
    margin: 400px auto 0 auto;
}
/*
  Menu
*/
#site-navigation{
    margin: 0 auto;
}
/*


#primary-menu {
    list-style: none;
    margin: 0;
    background: white;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
}
#primary-menu li.brand a{
    color: green;
    font-weight: bold;
}
#primary-menu li.current-menu-item a{
    color: green;
}
#primary-menu li.logout{
    border-left: 1px solid Lavender;
    border-right: 1px solid Lavender;
}
#primary-menu a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}

#primary-menu a:hover {
    background: Lavender;
}




*/
.site-info{
    margin: 30px auto 0 auto;
}
#secondary-menu {
    background: green;
    margin: 0 auto;
    list-style-type: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
}

#secondary-menu li{
    margin: 0 auto;
    padding: 20px 10px ;
    text-align: center;
}
#secondary-menu a{
    color: white;
    text-decoration: none;
}
/*
  Contact
*/
.form-contact .form-contact-input ,.form-contact textarea{
    max-width: 1600px;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 106px;
    margin-bottom: 6.625rem;
}
.form-contact .form-contact-input span{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    height: auto;
}
.form-contact .form-contact-input  input{
    width: 100%;
    position: relative;
    height: 53px;
    height: 3.3125rem;
    padding: 7px 0;
    padding: .4375rem 0;
    margin: 7px 0;
    margin: .4375rem 0;
    border: none;
    border-bottom: 3px solid #eeeeef;
    border-bottom: .1875rem solid #eeeeef;
    box-shadow: none;
    background: 0 0;
    transition: height .2s cubic-bezier(.455,.03,.515,.955);
}
.form-contact textarea{
    width: 100%;
    position: relative;

    border: none;
    border-bottom: 3px solid #eeeeef;
    border-bottom: .1875rem solid #eeeeef;
    box-shadow: none;
    background: 0 0;
    transition: height .2s cubic-bezier(.455,.03,.515,.955);
}
/*
  FAQ
*/
.faqs{

}
.faq{
    border-bottom: 1px solid #212121;
}
.faq-title{

}
.faq-title h2, .faq-title span{
    display: inline-block;
}
.faq-title span{

}
.faq-content{
    display: none;
}

/*
 Login / Register
*/
.formulaireconnexion{
    background: white;
    width: 80%;
    padding: 50px;
}
.formulaireconnexion input[type=submit]{
    color: black;
    border: 5px solid black;
    padding: 10px;
    text-decoration: none;
}
.connect{
    /*background: #212121;*/

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background: url('../img/mur.jpg');
}
.connect-rubrik{
    text-align: left;

    /*line-height: 300px;*/

    height: 300px;
    flex: 1;
    flex: 0 0 50%;

    background: rgba(255,255,255, .5);
    box-shadow: 0 0 1px #212121 inset;
}
.connect-rubrik:hover{
    background: rgba(255,255,255, .1);
    color: white;
}
.connect-rubrik div{
  display: none;
}
.connect-rubrik:hover div{
    display: block;
    position: relative;
    padding: 30px;
    color: white;
    border: 20px solid white;
    width: 100%-40px;
    height: 200px;
}
/*.rubrikfaq div{
    top: -20px;
    left: 20px;
}
.rubrikphotos div{
    top: 20px;
    left: 20px;
}
.rubrikvideos div{
    top: -20px;
    right: 20px;
}
.rubriknotices div{
    top: 20px;
    right: 20px;
}*/
.connect-rubrik h2.titre-rubrik{
  line-height: 300px;
  padding: 0 0 0 70px;
}
.connect-rubrik:hover h2{
    display: none;
}
.connect-rubrik:hover div h2{
    display: block;
}

/*
 Photos
*/

.photos {
  padding: .5vw;
  font-size: 1em;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.photo {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
.photo img {
  width: 100%;
}
.photo h2{
    font-size: 1em;
}
.photo .category{
    color: green;
    font-size: 0.9em;
}
/*
  Notices
*/
.notices{
    display: flex;
    flex-direction: column;
}
.notices .notice:first-child{
    border-top: 1px solid #212121;
}
.notice .notice-content{
}
.notice{
    border-bottom: 1px solid #212121;
}
.notice .format{
    float : left;
    margin: 1em;
}
.notice .resume{
    display: flex;
}
.notice .btn-download{
    float: right;
    display: block;
    color: black;
    border: 5px solid black;
    padding: 10px;
    text-decoration: none;
}
.breadcrumb span{
    color: green;
}







/*
  Player Video
*/

.videos{
    display: flex;
    flex-wrap: wrap;
}
.video{
    max-width: 33%;
    font-size: 0.8em;
}
.video .category{
    color: green;
}
video {
    width: 100%;
}

/*
Pagination
*/
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
}
.pagination a.active{
    color: green;
}


@media all and (max-width: 800px) {
  header, #page{
    width: 100%;
  }

    #primary-menu, #secondary-menu{
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }
    #primary-menu a{
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    #primary-menu li:last-of-type a {
        border-bottom: none;
    }
    .connect{
        display: block;
    }
    .connect div div {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

@media all and (max-width: 600px) {
    #primary-menu, #secondary-menu{
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }
    #primary-menu a{
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    #primary-menu li:last-of-type a {
        border-bottom: none;
    }
    .connect{
        display: block;
    }
    .connect div div {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
